/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    /*text-align: center;*/
}


body {
    font-size: 24px;
    width: 1024px;

}

header {
    clear: both;
    padding: 34px;

    height: 20px;
    color: #333;
    background: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 2px solid #cccccc;

}

section {
    padding: 20px;
    margin-bottom: 20px;
    
}



p {
    color: #666;
    font-size: larger;

}


#heading {
    text-align: left;
    padding: 21px;
    background-color: #4aaaa5;
    float: left;
    color:white;
    position: fixed;
    top: 0;
    font-size: 30px;
}

#headingTwo{
    float: right;
    text-align: right;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 700px;
    font-size: 18px;
    margin-right: 60px;
    color: #777777;

}
#boxhead a {
    text-decoration: none;
    color: #777777;
    padding-right: 10px;

}

#left {
    background-color: #666;
    color: white;
    width: 33%;
    float: left;

}

#middle {
    background-color: #888;
    color: white;
    width: 33%;
    float: left;
}

#right {
    background-color: #666;
    color: white;
    width: 33%;
    float: left;
}

#full {
    clear: both;
    overflow: auto;
    border-bottom: 5px solid #4aaaa5;
    margin-bottom: 0px;
    background-image: url("../images/seigaiha.png");
}



#miniHeader{
    border-bottom: 1px solid #777777 ;
    padding-bottom: 10px;
}

#miniHeader2 {
    border-bottom: 1px solid #777777 ;
    padding-top: 3px;
    padding-bottom: 13px;
    text-align: left;
    color: #4aaaa5;
}



#image1 {
    float: left;
    margin-top: 20px;
    width: 290px;
    height: 200px;
    padding: 10px;
    background-image: url("../images/hangman.jpg");
}

#caption{
    margin-top: 140px;
    background-color:#4aaaa5 ;
    padding: 10px;
    text-align: center;
}

#image2 {
    float: left;
    margin-top: 20px;
    margin-left: 28px;
    width: 290px;
    height: 200px;
    background-image: url("../images/image2.png");
}

#caption2{
    margin-top: 140px;
    background-color:#4aaaa5 ;
    padding: 10px;
    text-align: center;
}
#image3 {
    float: left;
    margin-top: 20px;
    width: 290px;
    height: 200px;
    background-image: url("../images/image3.png");
}

#caption3{
    margin-top: 140px;
    background-color:#4aaaa5 ;
    padding: 10px;
    text-align: center;
}

#image4 {
    float: left;
    margin-top: 20px;
    margin-left: 28px;
    width: 290px;
    height: 200px;
    background-image: url("../images/image4.jpg");
}

#caption4 {
    margin-top: 140px;
    background-color:#4aaaa5 ;
    padding: 10px;
    text-align: center;
}


aside {
    background-color: #ffffff;
    width:960px;
    height: 740px;
    border: 1px solid #ffffff;
    padding: 15px;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
}

footer {
    clear: both;
    background-color: #666666;
    padding: 20px;
    min-width: 1024px;
    color:#888;
    font-size: x-small;
    text-align: center;
}
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  